.btn {
  font-size: rem(20);
  line-height: rem(26);
  padding: rem(17) rem(30);
  font-weight:bold;
  border-radius: rem(50);
  @include transition(all 0.3s linear);
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0px 3px 6px #00000029;
}

.btn-outline-light {
  padding: rem(16) rem(30);

  &:focus,
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $dark-grey;
  }
}

.btn-sm {
  color: $white;
  padding: rem(11) rem(30);
}

.btn-alt {
  color: $blue;
  display: inline-block;
  background-color: $green;
  border-color: $green;
  color: $white;
  &:hover,
  &:focus {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.btn-alt2 {
  display: inline-block;
  padding: rem(10) rem(30);
  border: 2px solid $blue;
  background-color: transparent;
  color: $blue;
  &:focus,
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.btn-on-color {
  display: inline-block;
  background-color: $primary;
  color: $white;
  padding: rem(13.5) rem(30);
  &:focus,
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}

.btn-alt-on-color {
  display: inline-block;
  padding: rem(10) rem(30);
  border: 2px solid $white;
  background-color: transparent;
  color: $white;
  &:focus,
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.btn-wrap {
  margin-bottom: rem(25);
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  > button,
  > a {
    margin: 0 rem(10) rem(20) 0;
  }
}

.btn-bg {
  width: rem(330);
  /*height: rem(88);*/
  max-width: 100%;
  background-color: $dark-grey;
  padding: rem(12) 0;
  display: inline-block;
  text-align: center;
  margin-bottom: rem(25);
  vertical-align: top;
  .btn{
    margin:rem(5) !important;
  }
  &.red-btn-bg {
    background-color: $dark-grey;
  }
  &:nth-of-type(2) {
    padding-top: rem(19);
  }
  @include media-breakpoint-up(lg) {
    margin: 0 rem(15) rem(20) 0;
  }
}


.btn-primary {
  font-size: rem(20);
  line-height: rem(26);
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-shadow: 0px 3px 6px #00000029;
  border-radius: rem(50);
  background: transparent linear-gradient(180deg, #00476C 0%, #002031 100%) 0% 0% no-repeat padding-box;
  position: relative;
  display: inline-block;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  border: 0;
  &::before{
    content: "";
    position: absolute;
    left: -0.563;
    bottom: -0.438;
    width: calc(100% + 0.563rem);
    height: calc(100% + 0.438rem);
    background: transparent; 
    z-index: -1;
    border-radius: inherit;
    transition: background 0.4s ease-in-out;
    }
    &:hover,
    &:focus{
      color: $white !important;
      background: transparent linear-gradient(180deg, #00476C 0%, #002031 100%) 0% 0% no-repeat padding-box !important;
      border: 0;
      &::before{
        background: rgba($primary,0.5); 
      }
    }

}