// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//Container Width
$container-width : rem(1192);

// Colors
$primary: #00476C;
$secondary: #002031;
$link: #14355D;

$white: #fff;
$black: #000;
$blue: #0072bb;
$light-blue: #10b1d7;
$medium-blue: #28628F;
$lighter-blue: #0171bb;
$lightest-blue: #EFF4F8;
$dark-blue: #00334D;
$dark-grey: #212121;
$medium-gray: #666;
$medium-md-gray: #6d6d6d;
$gray: #444;
$light-gray: #f7f7f7;
$lighter-gray: #efefef;
$light-gray2:#E6EBF0;
$light-gray3: #EBEBEB;
$orange: #d95000;
$green: #62A139;
$medium-green: #6CB33F;
$off-black: #1C1C1C;
$blur-grey:#EEEEEE;
$faint-grey:#3E3E3E;
$peacock:#007BA0;
$sub-nav-bg:#F5F5F5;
$nav-border:#C9C9C9;
$cta:#A6C3D7;
//Body Variables
$body-bg : $white;
$body-color: $black;


// Link Colors
$link-color: $link;
$link-decoration: underline;
$link-hover-color: $link;
$link-hover-decoration: none;


// Typography
$font-family-base: 			  "Oxygen", sans-serif;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$body-font-size:			  rem(18);

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5625 !default;

$h1-font-size:                rem(58) !default;
$h2-font-size:                rem(52) !default;
$h3-font-size:                rem(36) !default;
$h4-font-size:                rem(28) !default;
$h5-font-size:                rem(19) !default;
$h6-font-size:                $font-size-base !default;

$headings-font-family:        "Michroma", sans-serif !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              $primary !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;

/*Navigation Variables*/
$nav-color: $black;
$nav-hover-color: $primary;
$nav-spacing: rem(16.5) rem(20);
$mob-nav-font-size: rem(20.45);
$mob-nav-line-height:rem(25);
$nav-font-size: rem(18);
$nav-line-height:rem(22);
$nav-line-height-desk:rem(76);
$nav-font-weight: 400;

/*Darkbg color menu variables*/
$navbar-dark-nav-color: $white;
$navbar-dark-nav-hover-color: $black;

$nav-subnav-width: rem(250);
$nav-subnav-radius: 0;
$nav-subnav-color: $secondary;
$nav-subnav-bg-color: $white;
$nav-subnav-hover-color: $primary;
$nav-subnav-hover-bg-color: $sub-nav-bg;
$mob-nav-subnav-font-size: rem(18.18);
$mob-subnav-nav-line-height:rem(56.81);
$nav-subnav-font-size: rem(16);
$subnav-nav-line-height:rem(42);
$nav-subnav-font-weight: 400;
$nav-subnav-spacing: 0 rem(30);

/*============= Navigation Variables Mobile ==========*/
$nav-spacing-mobile: rem(15) rem(50) rem(15) rem(30);
$nav-subnav-spacing-mobile: 0 rem(50) 0 rem(60);
$nav-sub-subnav-spacing-left-mobile: rem(80);
$nav-sub-sub-subnav-spacing-left-mobile: rem(100);

/*============= TopLine Menu ==============*/
$topnav-color: $black;
$topnav-sub-color: $secondary;
$topnav-color-hover: $primary;
$topnav-sub-color-hover: $primary;
$topnav-spacing: 0 rem(20);
$topnav-font-size: rem(18);
$topnav-sub-font-size: rem(16);
$topnav-line-height: rem(22);
$topnav-sub-line-height: rem(42);